{{#endpoints}}
{{#multiStatus}}
{{> _multi_status_response}}
{{/multiStatus}}
{{/endpoints}}
{{{ api_doc_comment }}}class {{ className }} {
    {{ className }}(ApiClient? client) : client = client ?? ApiClient();

    final ApiClient client;

    {{#endpoints}}
    {{{ endpoint_doc_comment }}}Future<{{{ returnType }}}> {{{ methodName }}}(
        {{#positionalParameters}}
        {{{ type }}} {{{ dartName }}},
        {{/positionalParameters}}
        {{#hasNamedParameters}}
        { {{#namedParameters}}{{#required}}required {{{ type }}}{{/required}}{{^required}}{{{ nullableType }}}{{/required}} {{{ dartName }}}{{#hasDefaultValue}} = {{{ defaultValue }}}{{/hasDefaultValue}},{{/namedParameters}} }
        {{/hasNamedParameters}}
    ) async {
        {{{ validationStatements }}}{{{ multipartAssembly }}}final response = await client.{{{invokeMethodName}}}(
{{{ invokeArgs }}}
        );

        if (response.statusCode >= HttpStatus.badRequest) {
            {{#hasErrorType}}
            throw ApiException<{{{ errorType }}}>(
                response.statusCode,
                response.body.toString(),
                body: {{{ errorFromJson }}},
            );
            {{/hasErrorType}}
            {{^hasErrorType}}
            throw ApiException<Object?>(response.statusCode, response.body.toString());
            {{/hasErrorType}}
        }
{{^isVoidReturn}}
{{#multiStatus}}

        return switch (response.statusCode) {
{{#switchArms}}
            {{ statusCode }} => {{{ armConstruction }}},
{{/switchArms}}
            _ => throw ApiException<Object?>.unhandled(response.statusCode),
        };
{{/multiStatus}}
{{^multiStatus}}

        if (response.body.isNotEmpty) {
            return {{{ responseFromJson }}};
        }

        throw ApiException<Object?>.unhandled(response.statusCode);
{{/multiStatus}}
{{/isVoidReturn}}
    }
    {{/endpoints}}
}
