import 'package:{{packageName}}/api.dart';

class {{clientClassName}} {
  {{clientClassName}}({ApiClient? client}) : client = client ?? ApiClient();

  final ApiClient client;

  {{#apis}}
  {{apiClassName}} get {{apiName}} => {{apiClassName}}(client);
  {{/apis}}
}
