class {{ className }} {
    {{ className }}(
        {{#hasProperties}}{ {{/hasProperties}}
        {{#properties}}
        required this.{{ propertyName }},
        {{/properties}}
        {{#hasProperties}} }{{/hasProperties}}
    );

    {{#properties}}
    final {{{ propertyType }}} {{ propertyName }};
    {{/properties}}

    factory {{ className }}.fromJson(Map<String, dynamic> json) {
        return {{ className }}(
            {{#properties}}
            {{ propertyName }}: {{{ propertyFromJson }}},
            {{/properties}}
        );
    }

    Map<String, dynamic> toJson() {
        return {
            {{#properties}}
            '{{ propertyName }}': {{{ propertyToJson }}},
            {{/properties}}
        };
    }
}