{{{ doc_comment }}}{{^mutableModels}}@immutable{{/mutableModels}}
{{#parentSealedTypeName}}final {{/parentSealedTypeName}}class {{ typeName }}{{#parentSealedTypeName}} extends {{ parentSealedTypeName }}{{/parentSealedTypeName}} {
    {{{ constructor_doc_comment }}}{{ typeName }}(
        {{#hasProperties}}
        { {{#properties}}{{{ argumentLine }}}, {{/properties}}
        {{#hasAdditionalProperties}}required this.{{additionalPropertiesName}},{{/hasAdditionalProperties}} }
        {{/hasProperties}}
    ){{{assignmentsLine}}};

    {{{ from_json_doc_comment }}}factory {{ typeName }}.fromJson({{{fromJsonJsonType}}}
    {{#castFromJsonArg}}
        jsonArg) {
    {{#hasNoJsonProperty}}
        // `jsonArg` appears in the message so the unused-parameter lint
        // stays quiet on types that can't round-trip through JSON.
        throw UnsupportedError(
          '{{ typeName }}: binary field present; '
          'cannot decode from JSON. Input: $jsonArg',
        );
    {{/hasNoJsonProperty}}
    {{^hasNoJsonProperty}}
    final json = jsonArg as Map<String, dynamic>;
    {{/hasNoJsonProperty}}
    {{/castFromJsonArg}}
    {{^castFromJsonArg}}
        json) {
    {{#hasNoJsonProperty}}
        throw UnsupportedError(
          'Cannot decode {{ typeName }} from JSON (binary field present). '
          'Input was: $json',
        );
    {{/hasNoJsonProperty}}
    {{/castFromJsonArg}}
    {{^hasNoJsonProperty}}
        return parseFromJson('{{ typeName }}', json, () => {{ typeName }}(
            {{#properties}}
            {{ dartName }}: {{{ fromJson }}},
            {{/properties}}
            {{#hasAdditionalProperties}}
            {{additionalPropertiesName}}: json.map((key, value) => MapEntry(key, {{{ valueFromJson }}})),
            {{/hasAdditionalProperties}}
        ));
    {{/hasNoJsonProperty}}
    }

    /// Convenience to create a nullable type from a nullable json object.
    /// Useful when parsing optional fields.
    static {{ nullableTypeName }} maybeFromJson(Map<String, dynamic>? json) {
        if (json == null) {
            return null;
        }
        return {{ typeName }}.fromJson(json);
    }

    {{#properties}}{{{ property_doc_comment }}}{{{ storageTypeDeclaration }}}{{ dartName }};
    {{/properties}}
    {{#hasAdditionalProperties}}
    final Map<String, {{{ valueSchema }}}> {{additionalPropertiesName}};

    {{{ valueSchema }}}? operator [](String key) => {{additionalPropertiesName}}[key];
    {{/hasAdditionalProperties}}

    {{{ to_json_doc_comment }}}{{#parentSealedTypeName}}@override
    {{/parentSealedTypeName}}Map<String, dynamic> toJson() {
    {{#hasNoJsonProperty}}
        throw UnsupportedError(
          'Cannot encode {{ typeName }} as JSON (binary field present).',
        );
    {{/hasNoJsonProperty}}
    {{^hasNoJsonProperty}}
        return {
            {{#properties}}
            {{{ jsonName }}}: {{{ toJson }}},
            {{/properties}}
            {{#hasAdditionalProperties}}
            ...{{additionalPropertiesName}}.map((key, value) => MapEntry(key, {{{ valueToJson }}})),
            {{/hasAdditionalProperties}}
        };
    {{/hasNoJsonProperty}}
    }

    @override
    int get hashCode =>
        {{#hasOneProperty}}
          {{#properties}}
          {{{ hashCode }}}.hashCode;
          {{/properties}}
          {{#hasAdditionalProperties}}
          {{additionalPropertiesName}}.hashCode;
          {{/hasAdditionalProperties}}
        {{/hasOneProperty}}
        {{^hasOneProperty}}
        Object.hashAll([
          {{#properties}}
          {{{ hashCode }}},
          {{/properties}}
          {{#hasAdditionalProperties}}
          {{additionalPropertiesName}},
          {{/hasAdditionalProperties}}
        ]);
        {{/hasOneProperty}}

    @override
    bool operator ==(Object other) {
        if (identical(this, other)) return true;
        return other is {{ typeName }}
            {{#properties}}
            && {{ equals}}
            {{/properties}}
            {{#hasAdditionalProperties}}
            && mapsEqual({{additionalPropertiesName}}, other.{{additionalPropertiesName}})
            {{/hasAdditionalProperties}}
        ;
    }
}
