{{{ doc_comment }}}extension type const {{{ typeName }}}._({{dartType}} value) {
    const {{ typeName }}(this.value){{{initializers}}};

    factory {{ typeName }}.fromJson({{jsonType}} json) => {{ typeName }}(json{{jsonToDartCall}});

    /// Convenience to create a nullable type from a nullable json object.
    /// Useful when parsing optional fields.
    static {{ nullableTypeName }} maybeFromJson({{jsonType}}? json) {
        if (json == null) {
            return null;
        }
        return {{ typeName }}.fromJson(json);
    }

    double toJson() => value;
}
